body {
         background: url("./img/0.jpg") repeat center;
}
  
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
	 justify-content: space-between;
	}
	
.header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
    height:auto;
    width: 100%;
   }
    
.nav {
	 display: flex;
	 flex-wrap: wrap;
	 width: 100%;
    padding: 5px;
    background-color: #444;
    margin-top: 10px;
}
    
.menu-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.menu-item:not(:last-child) {
  margin-right: 205px;
    }

.menu-item a {
  text-decoration: inherit;
  color:  #ffffff;}

.main {
	display: flex;
   height: auto;
    width: 100%;
	flex-flow: column;
align-items: center;
margin-top: 35px;

	}
.main-text {
  font-weight: 500;
  font-size: 25px;
  /*border: 1px solid black;*/
  height: auto;
  width: 100%;
  margin:auto;
  align-items: center;
  padding: 0px 15px;
  }
  .quote {
  font-weight: 400;
  font-size: 18px;
  /*border: 1px solid black;*/
    height: 250px;
    width: 100%;
	margin:auto;}
.ppp {
	display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
	height: auto;
    width: 100%;
	margin-top: auto;
	padding: 20px;
}
.card {
    width: 25%;
    max-width: 300px;
    border: 2px solid black;
    padding: 20px;
	margin-top: 15px;
}

.card_image{
    height: 120px;
    width: 100%;
    max-width: 180px;
    margin: auto;
    text-align: center;
}

.card_description {
    margin-top: 15px;
    text-align: center;
}
.image {
    height: auto;
    margin-top: auto;
    text-align: center;
}
#callback {
    width: 300px;
    height: 150px;
    background-color: #444;
    position: absolute;
    bottom: 30px;
    transform: translateX(-100%);
}

#callback p {
    color: #fff;
    padding: 22px;
}

#callback:after {
    content: '<3';
    background-color: wheat;
}

#callback:after {
    content: '<3';
    background-color: wheat;
    text-align: center;
    border-radius: 0 0 8px 8px;
    padding: 5px 0;
    width: 150px;
    position: absolute;
    left: 300px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}

#callback:hover {
    transform: translateX(0%);
    transform: all 0.7s ease;
}
 
.footer {
	display: flex;
	height: auto;
    width: 100%;	
	margin-bottom: auto;
	justify-content: center;
	margin-top: 20px;
    background-color: #444;
	}

@media screen and (max-width: 768px) {
    .card {
        width: 50%;
        max-width: 100%;
        margin: auto auto 10px;
    }
}

@media screen and (max-width: 480px){
    .card {
        width: 95%
    }
}